@font-face /** importation de la police Raleway**/
{
    font-family: 'Raleway';
    src:   url("Raleway/Raleway-VariableFont_wght.ttf") format('truetype');
}

/** ------------- BALISES COURANTES ---------------**/

body
{
    font-family: Raleway ;
}

header
{
    margin: 2%;
}

nav
{
    margin: 2%;
}

main
{
    margin: 2%;
}

h1 
{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 4%;
}

h2
{
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 2%;
}

h3
{
    font-weight: bold;
    font-size: 1.2em;
}

p
{
    font-style: normal;
    font-size: 1em;
}


a
{
    text-decoration: none;
    color: black;
}

button
{
    border: none;
    width :auto;
    margin-top: 2%;
    font-family: Raleway ;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
}


/** ------------- HEADER ---------------**/

.logo /** taille et position du logo**/
{
        max-width: 8%;
        height: auto;
        float: left;

}

#menu_inscription
{
    margin-right: 0%;
    float: right;
}

a.active
{
    color:#0065fc ;
    font-weight: bold;
}

/** ------------- MENU ---------------**/


.liste_menu /**couleurs et position du menu (éléments aligné: inline)**/
{
    list-style-type: none;
    text-align: right; 
    margin-top: 2%;
}

#menu_hebergements, #menu_activites
{ 
    display: inline;
    margin-right: 2%;
}

#menu_activites a:focus, #menu_hebergements a:focus /**ancre vers sections activités et hebergements cliquées**/
{
    color:#0065FC;
    border-top: thick solid #0065FC;
    padding-top: 2%;
}


/** ------------- RECHERCHE ---------------**/

.fa-map-marker-alt /**icone barre de recherche**/
{
    background-color:#F2F2F2;
    border: 1px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fa-search
{
    visibility: hidden;
}

#saisie 
{
    padding: 16px;
    margin-right: 0%;
    border-left: none;
    border-right:none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

#boutton_rechercher 
{
    background-color: #0065FC;
    border: 1px;
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.filtres 
{
    font-weight: bold; 
    font-size: 1em;
    display: inline;
    margin-left: 0%;
    margin-right: 5%;
}


.ensemble_filtres div
{
    color: #0065FC;
    background-color: white ;   
    border-radius: 100px;
    border: #F2F2F2 solid 2px;
    padding-left: 0%;
    padding-top:0.3em;
    padding-bottom: 0.3em;
    
}

.ensemble_filtres div:hover /**Survol des filtres**/
{
    background: linear-gradient(to right,#DEEBFF,#0065fc);
}


.icones_filtres
{
    color: #0065FC;
    background-color: #DEEBFF;  
    border-radius: 100%;
    padding: 0.5em;
}

.info
{
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: left;
    align-content: left;
    align-items: top;
}

.fa-info-circle
{
    color: white;
    background-color: #0065fc;
    border-radius: 100%;
    border-color: #F2F2F2;
    margin-right: 0.5em;
    margin-top: 1%; 
    height: min-content; 
}


/** ------------- FLEXBOX LOGEMENTS ---------------**/

.logements /**comprends hebergements et populaires**/
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

/** ------------- HEBERGEMENTS ---------------**/

.categorie_hebergements 
{
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    width: 60%;
    height: 45em;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    
}

.categorie_hebergements h2:nth-child(1) /**titre "Hébergements à Marseille"**/
{
    width: 100%;
    margin-bottom: 0%;
    margin-top: 0%;
}

#afficher_plus
{
    margin-top: 0%;
    width: 100%;
    font-weight: bold;
}

.images_hebergements
{
    width: 100%;
    height: 60%;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;    
}

.annonces_hebergements
{
    border : white solid 4px;
    border-radius: 1.5em;
    width: 30%;
    height: 30%;
    background-color:white;
    box-shadow: 1px 1px 10px grey;
}

.annonces_hebergements h3, .annonces_hebergements p, .annonces_hebergements div /**Description des annonces**/
{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

/** ------------- LES PLUS POPULAIRES ---------------**/

.categorie_populaires
{
    margin-top: 1%;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 28%;
    height: 45em;
    background-color: #F2F2F2;
    border-radius: 1.5em;
    
}

.annonces_populaires
{
    display: flex;
    flex-direction: row;
    border : white solid 4px;
    border-radius: 1.5em;
    width: 95%;
    height: 23%;
    background-color:white;
    box-shadow: 1px 1px 10px grey;
}

.annonces_populaires a
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.image_populaire
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;  
}

.img_populaire
{
    width: 35%;
    height: 100%;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;   
}

.texte_populaire
{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 60%;
    height: 100%;
    margin-left: 3%;

}

.texte_populaire h3
{
    order: 1;
    margin-top: 5%;
    margin-bottom: 0%;
}

.texte_populaire p
{
    order: 2;
    margin-top: 2%;
}

.texte_populaire div
{
    order: 3;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 5%;
}

.fa-chart-line
{
    float: right;
}



/** ------------- ETOILES ---------------**/

.fa-star
{
    color: #F2F2F2;
}

i.active
{
    color: #0065FC;
}

/** ------------- ACTIVITES ---------------**/


.categorie_activites
{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-content: space-between;
    background-color: white;
    width: 100%;
    height: 35em;
}

.annonces_activites
{
    border : white solid 4px;
    border-radius: 1.5em;
    box-shadow: 3px 3px 5px #F2F2F2;
    width: 23%;
    background-color:white;
    padding-bottom: 3%;
}

.images_activites
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;   
}


.annonces_activites:nth-child(1) /**Tailles des différentes annonces dans l'ordre de visualisation**/
{
    height: 89%;
}

.annonces_activites:nth-child(2)
{
    height: 40%;
}

.annonces_activites:nth-child(3)
{
    height: 30%;
}

.annonces_activites:nth-child(4)
{
    height: 89%;
}
.annonces_activites:nth-child(5)
{
    height: 30%;
}
.annonces_activites:nth-child(6)
{
    height: 40%;
}

.annonces_activites h3
{
    margin-top: 1%;
    margin-left: 5%;
}

/** ------------- FOOTER ---------------**/

footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    background-color: #F2F2F2;
    line-height: 2em;
}

footer div
{
    margin-left: 2%;
    margin-right: 10%;
    width: 100%;
}


footer  ul
{
    list-style-type: none;
    padding-left: 0%;
    width: 100%;

}

footer h3{

    width:100%;
}


/** ---------------------------- RESPONSIVE TELEPHONE -------------------------------**/

@media only screen and (max-width: 768px)
{
    body
    {
        width: 100%;
        margin: 0%;
    }

    header
    {
        margin: 0%;
    }

    nav
    {
        margin: 0%;
    }

    main
    {
        margin: 0%;
    }

    h1 
    {
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 5%;
        margin-left: 4%;
    }

    /** header -------------------------------------- **/

    .logo /** taille et position du logo**/
    {
        max-width: 20%;
        height: auto;
        float: left;
        margin-bottom: 7%;
        margin-left: 1%;
        margin-top: 1%;
    }

    #menu_inscription
    {
        margin-right: 3%;
        margin-top: 1%;
        float: right;
    }


    .liste_menu /**couleurs et position du menu (éléments aligné: inline)**/
    {
        list-style-type: none;
        text-align: center; 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding-left: 0%;
    }
   
    #menu_hebergements, #menu_activites
    { 
        display: inline;
        margin-right: 0%;
        margin-left: 0%;
        width: 50%;
        padding-bottom: 4%;
        border-bottom: 2px solid #F2F2F2;
    }
    
    #menu_activites a:focus, #menu_hebergements a:focus /**ancre vers sections activités et hebergements cliquées**/
    {
        border-top: none;
        padding-top: 0%;
    }

    #menu_hebergements:active, #menu_activites:active
    {
        border-bottom: 2px solid #0065fc;      
        color: #0065fc;   
    }
    

 
    /**barre de recherche ----------------------------- **/

    .texte
    {
        font-style: normal;
        font-size: 1em;
        margin-left: 4%;
    }

    form
    {
        margin-left: 4%;
        margin-bottom: 7%;
        margin-top: 7%;
    }

    #boutton_rechercher 
    {
        display: none;
    }

    .fa-search
    {
        visibility: visible;
        background-color: #0065FC;
        border: 1px;
        padding: 15px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size: 1.2em;    
    }
    /** filtres ---------------------------------------**/

    .filtres 
    {
        font-weight: bold; 
        font-size: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: max-content;
        margin-right: 3%;
    }

    .filtres:nth-child(1)
    {
        width: 100%;
    }

    .ensemble_filtres
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between ;
        width: 75%;
        height: 13em;
        margin-left: 4%;
    }



    .ensemble_filtres div
    {
        padding-top:0em;
        padding-bottom: 0em;
    }

    .icones_filtres
    {
        padding: 0.7em;
    }

    
    .info
    {
        justify-content: left;
        align-content: left;
        align-items: top;
        margin-left: 4%;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    .fa-info-circle
    {
        margin-right: 0%;
        margin-top: 0%; 
    }

    .info p
    {
        margin-top: 0%;
        margin-left: 2%;
        margin-right: 2%;
    }

    
    /** hebergements ----------------------------------- **/

    .logements /**comprends hebergements et populaires**/
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .categorie_populaires
    {
        order: 1;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 6%;
        width: 100%;
        height: 100%;
        border-radius: 0em;   
    }

    .categorie_populaires h2
    {
        margin-top: 10%;
        margin-bottom: 7%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .annonces_populaires
    {
        margin-left: 4%;
        margin-bottom: 7%;
        width: 90%;
        height: 10em;
        align-content: space-around;
    }


    .categorie_hebergements 
    {
        order: 2;
        margin-top: 0%;
        margin-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 0em;
    }

    .annonces_hebergements
    {
        margin-left: 4%;
        margin-bottom: 7%;
        margin-top: 0%;
        width: 90%;
        height: 15%;
        justify-content: space-between;
        align-content: space-around;
    }

    .categorie_hebergements h2:nth-child(1)
    {
        margin-top: 5%;
        margin-bottom: 8%;
        margin-left: 4%;
    }

    #afficher_plus
    {
        margin-left: 4%;
        width: 90%;
        font-weight: bold;
    }

    /** activités ---------------------------------------**/

    #activites /**titre Activités a Marseille**/
    {
        margin-top: 7%;
        margin-bottom: 0%;
        margin-left: 4%;
    }

    .categorie_activites
    {   
        margin-top: 7%;
        flex-wrap: nowrap;
        justify-content: space-around ;
        align-content: space-around;
        background-color: white;
        width: 100%;
        height: 100%;
    }


    .annonces_activites
    {
        line-height:0%;
        box-shadow: 1px 1px 10px grey;
        padding-bottom: 3%;
        margin-left: 4%;
        margin-bottom: 7%;
        margin-top: 0%;
        width: 90%;
    }
    

    .images_activites
    {
        width: 100%;
        height: 80%;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        object-fit: cover;
    }

    .annonces_activites:nth-child(1),.annonces_activites:nth-child(2),.annonces_activites:nth-child(3), .annonces_activites:nth-child(4),
    .annonces_activites:nth-child(5), .annonces_activites:nth-child(6)/**Tailles des différentes annonces dans l'ordre de visualisation**/
    {
        height: 15em;
    }

    .annonces_activites h3
    {
        margin-top: 6%;
        margin-left: 5%;
    }
    /** footer --------------------------------------- **/
    footer
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #F2F2F2;
    }

    footer h3, li
    {
        width:100%;
        margin-left: 2%;
    }
}

/** ---------------------------- RESPONSIVE TABLETTES -------------------------------**/

@media only screen and (min-width: 769px)and (max-width: 1024px)
{
    body
    {
        width: 100%;
        margin: 0%;
    }

    header
    {
        margin: 0%;
    }

    nav
    {
        margin: 0%;
    }

    main
    {
        margin: 0%;
    }

    h1 
    {
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 5%;
        margin-left: 4%;
    }

    /** header -------------------------------------- **/

    .logo /** taille et position du logo**/
    {
        max-width: 20%;
        height: auto;
        float: left;
        margin-bottom: 7%;
        margin-left: 1%;
        margin-top: 1%;
    }

    #menu_inscription
    {
        margin-right: 3%;
        margin-top: 1%;
        float: right;
    }


    .liste_menu /**couleurs et position du menu (éléments aligné: inline)**/
    {
        list-style-type: none;
        text-align: center; 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        padding-left: 0%;
    }
   
    #menu_hebergements, #menu_activites
    { 
        display: inline;
        margin-right: 0%;
        margin-left: 0%;
        width: 50%;
        padding-bottom: 4%;
        border-bottom: 2px solid #F2F2F2;
    }
    
    #menu_activites a:focus, #menu_hebergements a:focus /**ancre vers sections activités et hebergements cliquées**/
    {
        border-top: none;
        padding-top: 0%;
    }

    #menu_hebergements:active, #menu_activites:active
    {
        border-bottom: 2px solid #0065fc;      
        color: #0065fc;   
    }

    /**barre de recherche ----------------------------- **/

    .texte
    {
        font-style: normal;
        font-size: 1em;
        margin-left: 4%;
    }

    form
    {
        margin-left: 4%;
        margin-bottom: 7%;
        margin-top: 7%;
    }
    
    /** filtres ---------------------------------------**/

    .filtres 
    {
        font-weight: bold; 
        font-size: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: max-content;
        height: auto;
        margin-right: 3%;
    }

    .filtres:nth-child(1)
    {
        width: 5%;
    }

    .ensemble_filtres
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between ;
        width: 90%;
        height: 10%;
        margin-left: 4%;

    }

    .ensemble_filtres div
    {
        height: 100%;
        padding-top:0em;
        padding-bottom: 0em;
    }
    
    .info
    {
        justify-content: left;
        align-content: left;
        align-items: top;
        margin-left: 4%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .fa-info-circle
    {
        margin-right: 0%;
        margin-top: 0%; 
    }

    .info p
    {
        margin-top: 0%;
        margin-left: 2%;
        margin-right: 2%;
    }

    /** hebergements ----------------------------------- **/

    .logements /**comprends hebergements et populaires**/
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;   
    }

    .categorie_populaires
    {
        order: 1;
        margin-top: 0%;
        padding-left: 0%;
        padding-right: 0%;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        width: 95%;
        height: 30em;    
    }

    .categorie_populaires h2
    {
        width: 95%;
    }

    .annonces_populaires
    {
        display: flex;
        flex-direction: row;
        width: 45%;
        height: 30%;
    }

    .categorie_hebergements 
    {
        order: 2;
        margin-top: 7%;
        padding-left: 0%;
        padding-right: 0%;
        justify-content: space-around;
        width: 95%;        
    }
    
    .categorie_hebergements h2:nth-child(1) /**titre "Hébergements à Marseille"**/
    {
        width: 95%;
    }
    
    #afficher_plus
    {
        width: 95%;
    }
    
    .images_hebergements
    {
        width: 100%;
        height: 60%;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;    
    }
    
    .annonces_hebergements
    {
        height: 33%;
    }

    /** Activités -----------------------------**/

    #activites /**titre Activités a Marseille**/
    {
        margin-top: 5%;
        margin-bottom: 0%;
        margin-left: 4%;
    }

    .categorie_activites
    {   
        margin-top: 2%;
        background-color: white;
        width:95%;
        height: 65em;
        margin-bottom: 5%;
    }

    .annonces_activites
    {
        box-shadow: 1px 1px 10px grey;
        padding-bottom: 3%;
        margin-left: 4%;
        margin-top: 5%;
        margin-bottom: 0%;
        width: 45%;
    }
    

    .images_activites
    {
        width: 100%;
        height: 80%;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
        object-fit: cover;
    }

    .annonces_activites:nth-child(1),.annonces_activites:nth-child(2),.annonces_activites:nth-child(3), .annonces_activites:nth-child(4),
    .annonces_activites:nth-child(5), .annonces_activites:nth-child(6)/**Tailles des différentes annonces dans l'ordre de visualisation**/
    {
        height: 15em;
    }

    .annonces_activites h3
    {
        margin-top: 6%;
        margin-left: 5%;
    }

    /**Footer ---------------------------------------**/

    footer
    {
        justify-content:space-between;
        line-height: 2em;

    }

    footer div
    {
        margin-right: 0%;
        width: 30%;
    }

}